@font-face {
    font-family: BebasNeue;
    src: url('../../fonts/BebasNeue-Regular.ttf');
}

 .text {
    -fx-font-family: BebasNeue;
 }
 

/* Aplica la fuente a todos los textos */
.root {
    -fx-font-family: 'BebasNeue';
}

/* Tamaño y estilo opcional para títulos */
.title {
    -fx-font-family: 'BebasNeue';
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

/* Contenedor del login */
.login-window {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-radius: 20; 
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
}

/* Imagen de fondo */
StackPane {
    -fx-background-image: url("images/fondo.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Logo */
.logo {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, black, 5, 0.5, 2, 2);
}

/* Título */
.title {
    -fx-font-size: 28px;
    -fx-fill: white;
    -fx-font-weight: bold;
}

/* Caja de inputs */
.form-container {
    -fx-background-color: rgba(0, 0, 0, 0.5); 
    -fx-background-radius: 25;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-border-color: rgba(255, 255, 255, 0.678);
    -fx-border-width: 5;
    -fx-border-radius: 20;
}

/* Etiquetas */
.label {
    -fx-font-size: 18px;
    -fx-fill: white;
    -fx-font-weight: bold;
}

/* Inputs */
.input {
    -fx-background-color: rgba(0, 0, 0, 0.308); 
    -fx-background-radius: 30;
    -fx-text-fill: rgb(117, 117, 117);
    -fx-prompt-text-fill: #ddd; 
    -fx-border-color: rgb(167, 167, 167);
    -fx-border-width: 4;
    -fx-border-radius: 30;
    -fx-font-weight: bold;
}

.input:focused {
    -fx-prompt-text-fill: transparent; 
    -fx-border-color: #e8450c; 
}

/* Olvidaste tu contraseña */
.forgot-password {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: #e8450c;
    -fx-underline: true;
    -fx-alignment: center;
}

/* Texto Marvel */
.marvel-text {
    -fx-font-size: 18px;
    -fx-fill: white;
}

/* Botón */
.button-marvel {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-border-color: red;
    -fx-border-width: 3;
    -fx-border-radius: 35; 
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-position: relative;
    -fx-overflow: hidden;
}

.button-marvel.large {
    -fx-font-size: 34px; 
}

.button-marvel:hover {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: red;
    -fx-background-radius: 35;
    -fx-border-radius: 35; 
    -fx-transition: background-color 0.3s ease-in-out;
}
